@using Microsoft.AspNetCore.Mvc;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Naitv1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Naitv1.styles.css" asp-append-version="true" />

</head>
<body>
    <header class="navbar fixed-top navbar-dark bg-dark">
        <div class="container-fluid text-end mb-0 pb-0">
            <p class="text-white pb-0 mb-0 m-auto">
                <span class="text-white">
                    @UsuarioLogueado.nombreUsuario(Context.Session)
                </span>

                @if (UsuarioLogueado.esAnfitrion(Context.Session))
                {
                    <span>Anfitrión ☆ ★</span>
                }
                @if (UsuarioLogueado.esSuperAdmin(Context.Session))
                {
                    <span>Super Admin 🌑</span>
                }
                @if (ViewBag.HayPartnerVerificado != null && ViewBag.HayPartnerVerificado == true)
                {
                    <div class="insignia-partner">
                        <span style="color: green; font-size: 12px;">Verificado ✓</span>
                    </div>
                }
                @if (UsuarioLogueado.esModerador(Context.Session))
                {
                    <span>Moderador 🌚</span>
                }
            </p>
        </div>
    </header>
    <div class="container nait mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="modal fade" id="actividadModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitle"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="modalBody">
            <!-- Contenido dinámico -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-secondary" id="reportarActMod">Reportar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="reportarActModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Reporte de Actividad</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBody">
                    <form id="formReportarActividad" method="post">
                        <input type="hidden" name="idActividad" id="idActividad"/>

                        <label for="motivo" class="form-label">Motivo</label>
                        <select id="motivo" name="motivo" class="form-control">
                            @foreach (string motivo in RegistroNotificacion.Motivos)
                            {
                                <option value="@motivo">@motivo</option>
                            }
                        </select>
                        <br />
                        <label for="descripcion" class="form-label">Explique la razón de su reporte</label>
                        <input type="text" id="descripcion" name="descripcion" class="form-control" placeholder="Escriba aquí. . ." />
                        <br />
                        <button type="submit" class="btn btn-secondary form-submit" id="reportarActividad">Enviar Reporte</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalFinal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-body" id="reportEndBody">
                    <!-- Modal de alerta de envio -->
                </div>
            </div>
        </div>
    </div>


    <footer class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="container-fluid justify-content-around">
            @if (UsuarioLogueado.esModerador(Context.Session))
                { 
                <a class="nav-link text-white" asp-area="" asp-controller="Moderacion" asp-action="Index">H</a>
                <a class="nav-link text-white" asp-area="" asp-controller="Moderacion" asp-action="Notificaciones">N</a>
                <a class="nav-link text-white" asp-area="" asp-controller="Moderacion" asp-action="Mapa">M</a>
                <a class="nav-link text-white" asp-area="" asp-controller="Moderacion" asp-action="Estadisticas">E</a>
            }
            else
            {
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">H</a>
                <a class="nav-link text-white" asp-area="" asp-controller="Actividades" asp-action="Index">CA</a>
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Configuracion">Conf</a>
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Ayuda">?</a>
                @if (UsuarioLogueado.esSuperAdmin(Context.Session))
                {

                    <a class="nav-link text-white" asp-area="" asp-controller="PanelAdmin" asp-action="Index">Rp</a>
                    <a class="nav-link text-white" asp-area="" asp-controller="Partners" asp-action="Index">Admin Partners</a>
                }
                @if (UsuarioLogueado.esPartner(Context.Session))
                {
                    <a class="nav-link text-white" asp-area="" asp-controller="Partners" asp-action="EditarMiPerfil">Editar Info de Partner</a>

                    <span> Editar Partner</span>
                }
            }
        </div>
    </footer>

    <script src="~/js/api_key.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('#formReportarActividad').submit(function (e) {
                console.log('llegando a la funcion ajax');
                e.preventDefault(); // Evita el envío del formulario por defecto

                let modalOpen = bootstrap.Modal.getInstance(document.getElementById('reportarActModal'));
                modalOpen.hide(); //Se cierra el modal del formulario

                let modalEnd = bootstrap.Modal.getOrCreateInstance(document.getElementById('modalFinal'));//Modal del mensaje final

                $.ajax({
                    url: '@Url.Action("ReportarActividad", "RegistroReporte")',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (respuesta) {
                        if (respuesta.exito) {
                            document.getElementById('reportEndBody').innerHTML = '<div> <strong>Reporte enviado</strong>, gracias por su ayuda.</div> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">X</button>';
                            modalEnd.show();
                        } else {
                            document.getElementById('reportEndBody').innerHTML = '<div> <strong>Error al enviar el reporte</strong>, usted ya ha hecho un reporte sobre esta actividad.</div> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">X</button>'
                            modalEnd.show();
                        }
                    },
                    error: function () {
                        document.getElementById('reportEndBody').innerHTML = '<div> <strong>Error al enviar el reporte</strong>, no se pudo procesar la petición.</div> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">X</button>';
                        modalEnd.show();
                    }

                })
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
