@if(ViewBag.Actividad == null)
{
    <h1>Actividad no encontrada</h1>
}
else
{
    <br/>
    <br/>
    <br/>
    <h1>@ViewBag.Actividad.MensajeDelAnfitrion</h1>
    <h1>@ViewBag.Usuario.Nombre</h1>
    <ul>
    @foreach(RegistroParticipacion registroParticipacion in ViewBag.RegistrosParticipacion)
    {
        <li>
            <span>@registroParticipacion.ParticipanteId</span>
            <span>@registroParticipacion.Participante.Nombre</span>
            <span>@registroParticipacion.ActividadId</span>
            <span>@registroParticipacion.Actividad.MensajeDelAnfitrion</span>
            <span>@registroParticipacion.FechaRegistro</span>
        </li>
    }
    </ul>

}
