@{
	ViewData["Title"] = "Reportes";
}

<div class="px-2">
	<div class="container-fluid justify-content-around border rounded shadow-lg mt-5">
		<h1>Id reporte: @Model.ReferenciaId</h1>
		<p>Fecha realizada: @Model.FechaNotificacion</p>
		<p>Id actividad: @Model.ReferenciaId</p>
		<p>Motivo: @Model.Motivo</p>
		<p>Descripción: @Model.Descripcion</p>
	</div> 	
</div>