@{
	ViewData["Title"] = "Reportes";
}

<div class="px-2">
	<div class="container-fluid justify-content-around border rounded shadow-lg mt-5">
		<h1>Id reporte: @ViewBag.actividadReportada.Id</h1>
		<p>Fecha realizada: @ViewBag.actividadReportada.FechaNotificacion</p>
		<p>Id actividad: @ViewBag.actividadReportada.ActividadId</p>
		<p>Motivo: @ViewBag.actividadReportada.Motivo</p>
		<p>Descripción: @ViewBag.actividadReportada.Descripcion</p>
	</div> 	
</div>